@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
* {
  padding: 0;
  font-size: 10px;
  list-style: none;
  color: #333333;
}

header {
  width: 120rem;
  height: 20rem;
  margin: 0 auto;
}

header .logo a h1 {
  font-size: 10rem;
  font-family: "East Sea Dokdo", cursive;
  text-align: center;
  padding-top: 2rem;
}

a {
  display: block;
  text-decoration: none;
}
nav {
  width: 120rem;
  margin: 0 auto;
}
.menu > li {
  float: left;
  width: 30rem;
  height: 5rem;
  background-color: #148827;
}
.menu > li > a {
  line-height: 5rem;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.8rem;
}
.submenu {
  display: none;
  z-index: 1;
  position: absolute;
}
.submenu > li {
  width: 30rem;
  height: 4rem;
  background-color: #41b64e;
  z-index: 1;
}
.submenu > li > a {
  line-height: 4rem;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  z-index: 1;
}
.submenu > li:hover > a {
  text-decoration: underline;
  z-index: 1;
}
.text_box_01 {
  width: 120rem;
  height: 170rem;
  margin: 0 auto;
}
.text_box_01 h1 {
  font-size: 3rem;
  padding-top: 7rem;
}
.que:first-child {
  border-top: 0.1rem solid #eeeeee;
}
.que {
  position: relative;
  padding: 1.7rem 0;
  cursor: pointer;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #dddddd;
}
.que::before {
  display: inline-block;
  content: "Q";
  font-size: 2rem;
  color: #148827;
  margin-right: 0.5rem;
}
.que span {
  font-size: 2rem;
}
.que.on > span {
  font-weight: bold;
  color: #006633;
  font-size: 2rem;
}
.anw {
  display: none;
  overflow: hidden;
  font-size: 1.4rem;
  background-color: #f4f4f2;
  padding: 2.7rem 0;
}
.anw span {
  font-size: 2rem;
}
.anw::before {
  display: inline-block;
  content: "A";
  font-size: 2rem;
  font-weight: bold;
  color: #666;
  margin-right: 0.5rem;
}
footer {
  width: 120rem;
  height: 13rem;
  margin: 0 auto;
  position: relative;
  bottom: 3rem;
}
footer hr {
  position: relative;
  top: 0.8rem;
}
footer p {
  font-size: 1.7rem;
  line-height: 0.8rem;
  position: relative;
  top: 3rem;
}
